/* Common section */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF42A5;
    --secondary-color: #3C354F;
    --font-family: 'Work Sans', sans-serif;
}

.linear-gradiant {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav section */

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-logo>img {
    width: 40px;
}

.title-modify {
    color: var(--primary-color);
}

.nav-title {
    font-family: var(--font-family);
    font-size: 25px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--font-family);
    color: var(--secondary-color);
    cursor: pointer;
}

.menus>li button {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.menu-btn {
    padding-right: 5px;
    padding-left: 5px;
}

/* Banner section */

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* border: 2px solid tomato; */
}

.banner-content {
    width: 50%;
    text-align: center;
    /* border: 1px solid saddlebrown; */
    height: 500px;
    width: 50%;
    background-image: url("images/Group\ 14.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

#banner-description {
    color: black;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    padding-top: 50px;
}

#banner-title {
    font-family: var(--font-family);
    font-size: 55px;
    font-weight: 800;
}

.banner-list li {
    list-style: none;
    padding: 7px;
    font-family: var(--font-family);
}

.banner-btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn1 {
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--primary-color);
}

.btn2 {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #4EC5F7;
    color: white;
}

.banner-image {
    width: 50%;
    align-items: center;
}

.banner-image img {
    margin-top: 55px;
    height: 400px;
    padding-top: 50px;
}

/* Online game section */

.online-game-content {
    padding: 50px;
    text-align: center;
}

.online-game-title,
.online-game-description {
    font-family: var(--font-family);
}

.online-game-description {
    color: #534C64;
    font-size: 13px;
    padding: 10px;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

}

.card {
    border-radius: 10px;
    position: relative;
}

.game-play>p {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

.game-play {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    height: 200px;
    width: 200px;
    visibility: hidden;
}

.img-style {
    height: 200px;
    width: 200px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.card-description {
    font-family: var(--font-family);
    color: #534C64;
    text-align: center;
    font-size: 14px;
    width: 200px;
}

/* Instant play section */

.instant-play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
    /* border: 2px solid tomato; */
}

.instant-play-content {
    text-align: center;
}

.game-zone-name {
    font-family: var(--font-family);
}

.instant-play-title {
    /* border: 2px solid tomato; */
    padding-right: 300px;
}

.instant-play-content p {
    font-family: var(--font-family);
    color: #534C64;
    width: 300px;
    height: 150px;
    text-align: end;
    padding-left: 300px;

}

.instant-play-image1 {
    width: 400px;
    height: 400px;
}

.instant-play-image2 {
    width: 150px;
    height: 165px;
    border: 2px solid white;
    transform: translateX(-480px) translateY(50px);

}

/* Game zone section */

.game-zone-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    /* border: 1px solid tan; */
    padding: 0px 200px;
}

.games {
    /* padding: 10px; */
    margin: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 1px solid black; */
    border-radius: 100px;
}

.game-zone-icon {
    width: 50px;
    height: 50px;
}

/* Footer section */

footer {
    background-color: #0B0223;
}

.footer-logo {
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5px;
}

.footer-logo>img {
    width: 40px;
}

.footer-title {
    color: white;
}

.footer-list {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 13px;
    padding-bottom: 20px;
}

.footer-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.btn {
    cursor: pointer;
}

.footer-elements {
    font-family: var(--font-family);
    color: rgba(255, 255, 255, 0.60);
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-size: 10px;
}

.no-copyright {
    font-family: var(--font-family);
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 8px;
    padding-bottom: 90px;
}


/* Mouse hover */
.card:hover .game-play {
    visibility: visible;
    backdrop-filter: blur(2px);
}

.games:hover {
    border: 2px solid var(--primary-color);
}

.game-zone-name:hover {
    color: var(--primary-color);
}